@model Jobs
@{
    ViewData["Title"] = "JobSearch";
    Layout = "_Layout";
}

<h1>Welcome @ViewBag.customer</h1>
<h2>Search</h2>
<div class="text-center">
    <input asp-for="@Model.JobType" class="form-control" />
    &nbsp;
    <input type="submit" value="Search" class="btn btn-primary" />
</div>


